<div class="container-fluid">
  <h1 class="text-center">General: Seoul focused and surrouding areas</h1>
  <div class="row text-center">
    <h1>TODO: Image: city</h1>
    <h1>TODO: Image: city (night)</h1>
    <h1>TODO: Image: countryside</h1>
  </div>
  <div class="row text-center">
    <h1>Weather/Climate</h1>
    <h1>TODO: Image: Spring(Cherry Blossoms)</h1>
    <h1>TODO: Image: Winter(Cherry Blossoms)</h1>
    <h2>Seasons</h2>
    <h3>Spring: May still be chilly, yellow dust may be an issue; otherwise good time to go; cherry blossoms in April (2017: late March start)</h3>
    <h3>Summer: hot, humid</h3>
    <h3>Fall: Good time to go</h3>
    <h3>Winter: Cold, snow often sets in mid/late November, goes into Feburary</h3>
  </div>
</div>
