<div class="container-fluid">
  <section class="row" id="accomodations">
    <h1 class="text-center">Places to stay</h1>
    <ul>
      <li>Hostel</li>
        <ul>
          <li>Common way to travel on a budget, prices range from $10-15/night for shared rooms, $30-$35 for private</li>
        </ul>
      <li>Goshiwon/Goshitel</li>
        <ul>
          <li>Alternative to staying at hostels but for longer stays (Most require one month)</li>
          <li>A few will accomodate travelers staying for a week at $15-20/night</li>
          <li>Most have small private rooms, shared bathroom/kitchen area</li>
          <li>Private rooms with showers at additional costs for those that offer them</li>
        </ul>
      <li>AirBNB</li>
        <ul>
          <li>Pricier than above accomodations but can be reasonable priced for small groups</li>
          <li>Read reviews and be aware that smaller residential buildings do not have accessbility requirements so there may be no elevators in some 5-6 story buildings</li>
        </ul>
      <li>Hotel</li>
        <ul>
          <li>Traditional way to stay</li>
          <li>Pricey</li>
          <li>Be aware some of the cheaper ones are love motels so read reviews before booking</li>
        </ul>
    </ul>
  </section>
  <section class="row" id="transportation">
    <h1 class="text-center">Transportation</h1>
    <ul>
      <li>T-Money card: Works with Subway, Bus, and Taxis</li>
      <li>Subway: Most common, cost-effective mode</li>
      <ul>
        <li>T-money card: works with Subway, Bus, Taxis</li>
      </ul>

      <li>Bus: Transferring to a bus from a subway stop is often free, gets you places where the subway may not reach</li>
      <li>Taxi: Fares are pretty reasonable within Seoul (₩20,000-₩30,000 can often get you across the city) but will add up quickly</li>
    </ul>
  </section>
  <section class="row text-center additional">
    <h3>Additional Resources</h3>
    <ul>
      <li><a href="https://english.visitkorea.or.kr/enu/TRP/TP_ENG_8_1_1.jsp">VisitKorea - Transit Cards</a></li>
    </ul>
  </section>
</div>
