<div class="container-fluid">
  <section class="row">
    <h1 class="text-center">Entertainment</h1>
    <ul>
      <li>Gangnam</li>
        <ul>
          K-Star Road
        </ul>
    </ul>
  </section>
  <section class="row text-center additional">
    <h3>Additional Resources</h3>
    <ul>
      <li><a href="http://english.visitkorea.or.kr/enu/ATR/SI_EN_3_1_1_1.jsp?cid=1998305">K-Star Road</a></li>
    </ul>
  </section>
</div>
