<div class="container-fluid">
  <section class="row">
    <h1 class="text-center">Sights</h1>
    <ul>
      <li>Palaces</li>
      <li>TODO: Images</li>
      <ul>
        <li>Temples</li>
      </ul>
      <ul>
        <li>Sites</li>
      </ul>
    </ul>
  </section>
  <section class="row text-center additional">
    <h3>Additional Resources</h3>
    <ul>
      <li><a href="https://english.visitkorea.or.kr/enu/ATR/SI_ENG_3_2.jsp">VisitKorea - Cultural Heritage Sites</a></li>
    </ul>
  </section>
</div>
