<div class="container-fluid">
  <section class="row">
    <h1 class="text-center">Places to Go/Eat</h1>
    <ul>
      <li>Hongdae/Sinchon</li>
      <ul>
        <li></li>
      </ul>
      <li>Dongdaemun/Myeongdong</li>
      <ul>
        <li>Sites</li>
      </ul>
      <li>Itaewon</li>
      <ul>
        <li>Sites</li>
      </ul>
      <li>Gangnam</li>
      <ul>
        <li>Sites</li>
      </ul>
    </ul>
  </section>
  <section class="row text-center additional">
    <h3>Additional Resources</h3>
    <ul>
    </ul>
  </section>
</div>
