<div class="container-fluid">
  <section class="row">
    <h1 class="text-center">Sample Itinerary</h1>

    <h3>Sample Itinerary</h3>
    <ul>
      <li>Saturday</li>
      <ul>
        <li></li>
      </ul>
      <li>Sunday</li>
      <ul>
        <li></li>
      </ul>
      <li>Monday</li>
        <ul>
          <li></li>
        </ul>
      <li>Tuesday</li>
        <ul>
          <li></li>
        </ul>
      <li>Wednesday</li>
        <ul>
          <li></li>
        </ul>
      <li>Thursday</li>
        <ul>
          <li></li>
        </ul>
      <li>Friday</li>
        <ul>
          <li></li>
        </ul>
    </ul>

    <h3>Korean Entertainment Foscued Itinerary</h3>
    <li>Saturday</li>
    <ul>
      <li></li>
    </ul>
    <li>Sunday</li>
    <ul>
      <li></li>
    </ul>
    <li>Monday</li>
      <ul>
        <li></li>
      </ul>
    <li>Tuesday</li>
      <ul>
        <li></li>
      </ul>
    <li>Wednesday</li>
      <ul>
        <li></li>
      </ul>
    <li>Thursday</li>
      <ul>
        <li></li>
      </ul>
    <li>Friday</li>
      <ul>
        <li></li>
      </ul>
  </section>
  <section class="row text-center additional">
    <h3>Additional Resources</h3>
    <ul>
    </ul>
  </section>
</div>
