<footer class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h4 class="text-center">Site</h4>
        <ul class="list-group text-center">
          <li><%= link_to :Home, root_path %></li>
          <li><%= link_to :About, about_page_path%></li>
          <li><%= link_to :Contact, contact_page_path%></li>
          <li><%= link_to :Sitemap %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
