<div class="container-fluid" id="global-nav">
  <ul class="nav nav-tabs nav-justified">
    <li><%= link_to "SundryEGA", root_path %></li>
    <li><%= link_to "Travel", travel_page_path %></li>
    <li><%= link_to "Studio Sundry", studio_page_path %></li>
    <li><%= link_to "Gaming", gaming_page_path %></li>
  </ul>
</div>
