<div class="container-fluid" id="sundryega">
  <nav>

  </nav>
  <section class="row" id="carousel">
    <h1 class="text-center">Carousel</h1>
  </section>
  <section class="row" id="sundryabout">
    <div class="col-xs-8 col-xs-offset-2">
      <h1 class="text-center">SundryEGA</h1>
      <p class="text-center">text blob</p>
    </div>
  </section>
  <section class="row" id="services">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
        <div class="col-xs-12">
          <h3 class="text-center">Language Services</h3>
          <%= image_tag("hello", class: "img-responsive")%>
          <div class="services-text text-center">
            <ul>
              <li><h4>Translations</h4>
                <ul>
                  <li>English -> Korean, Chinese</li>
                  <li>Korean -> English</li>
                  <li>Chinese -> English</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
        <div class="col-xs-12">
          <%#= image_tag("icons/langauges")%>
          <h3 class="text-center">Content Creation</h3>
          <div class="services-text text-center">
            <ul>
              <li>Service 1</li>
              <li>Service 2</li>
              <li>Service 3</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
        <div class="col-xs-12">
          <%#= image_tag("icons/langauges")%>
          <h3 class="text-center">Web & Applications Development</h3>
          <div class="services-text">
            <h4>From quick mockups to REST APIs to production ready web applications, we can build it with the following:</h4>
            <h4 class="text-center">Langauges & Frameworks</h4>
            <ul>
              <li>Javascript: Node, React, Angular</li>
              <li>Python: Django, Flask</li>
              <li>Ruby: Sinatra, Ruby on Rails</li>
              <li>PHP: Wordpress, Drupal, Codeigniter</li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>
