<div class="container-fluid" id="sundryega">
  <section class="row" id="carousel">
    <h1 class="text-center">Carousel</h1>
  </section>
  <section class="row" id="sundryabout">
    <div class="col-xs-8 col-xs-offset-2">
      <h1 class="text-center">SundryEGA</h1>
      <p class="text-center">text blob</p>
    </div>
  </section>
  <section class="row" id="services">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="col-xs-4">
        <div class="col-xs-12">
          <div class="tb-outer">
            <div class="tb-inner">
              <%#= image_tag("icons/langauges")%>
              <h3>Language Services</h3>
              <div class="services-text">
                <ul>
                  <li><h4>Translations</h4>
                    <ul>
                      <li>Language -> Language</li>
                    </ul>
                  </li>
                  <li><h4>Interpretation</h4></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="tb-outer">
          <div class="tb-inner">
            <%#= image_tag("icons/langauges")%>
            <h3>Content Creation</h3>
            <div class="services-text">
              <ul>
                <li>Service 1</li>
                <li>Service 2</li>
                <li>Service 3</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="tb-outer">
          <div class="tb-inner">
            <%#= image_tag("icons/langauges")%>
            <h3>Web & Applications Development</h3>
            <div class="services-text">
              <h4>Langauges & Frameworks</h4>
              <ul>
                <li>Javascript: Node, React, Angular</li>
                <li>Python: Django, Flask</li>
                <li>Ruby: Sinatra, Ruby on Rails</li>
                <li>PHP: Wordpress, Drupal, Codeigniter</li>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
