<div class="container-fluid" id="travel">
  <nav class="navbar navbar-default">
    <ul>
      <ul>
        <h4>Seoul: </h4>
        <li>History</li>
        <li>Food</li>
        <li>Culture</li>
      </ul>
    </ul>
  </nav>
  <section class="row" id="travel-carosel">
    <h1 class="text-center">Carousel</h1>
  </section>
  <section class="row" id="travelabout">
    <div class="col-xs-8 col-xs-offset-2">
      <h1 class="text-center">Sundry Travel</h1>
      <p class="text-center">text blob</p>
    </div>
  </section>
  <section class="row" id="travel-kr">
    <div class="col-xs-8 col-xs-offset-2">
      <h1 class="text-center"></h1>
    </div>
  </section>
</div>
